#chat-screen {
    background-color: #ABC1D1;
    height: 1100vh;
}

#chat-screen .status-bar {
    background-color: #ABC1D1;
    z-index: 2;
}

#chat-screen .alt-header {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #ABC1D1;
    box-sizing:border-box;
    z-index: 1;
}
/* z-index = layer 순서 설정(화면에 표시되는 순서 정도로 참고)*/

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92A4B2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
}