.nav {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #F9F9FA;
    padding:20px 50px;
    box-sizing: border-box;
    /* box-sizing: border-box; - box크기를 변경하지 말라는 명령 */
    border-top:1px solid rgba(119, 119, 119, 0.321);
}

.nav__list {
    display:flex;
    justify-content: space-between;
}

.nav__link {
    position:relative;
    color:#2F363E;
}

.nav__notification {
    position:absolute;
    left: 23px;
    bottom: 13px;
}

.nav__check-new {
    position:absolute;
    left:30px;
}